<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        /* מרווח מותאם אישית בין הקישורים */
        .navbar-nav .nav-item {
            margin-right: 20px;
        }

            /* הימנעות מרווח לאחר הפריט האחרון */
            .navbar-nav .nav-item:last-child {
                margin-right: 0;
            }
    </style>
</head>
<body>
    <!-- Main content -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>